@charset "UTF-8";
@font-face{font-family:"bebasneue";src:url("../fonts/BebasNeue-Regular.otf");src:url("../fonts/BebasNeue-Regular.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:"BebasNeue-Light";src:url("../fonts/BebasNeue-Light.otf");font-weight:300;font-style:normal;}