html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFF;
	background: url('../image/main-bg.jpg');
	color: #555;
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, a {
	font-size: 12px;
}
input, textarea, select {
	font-size: 12px;
}
h1, .welcome {
	color: #525252;
	margin-top: 23px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-bottom: 0px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}
h2 {
	color: #525252;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
	line-height: 15px;
}
a, a:visited, a b {
	color: #636363;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 3px;
	height: 18px;
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;
	color: #595959;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
	 -khtml-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: inset 0px 2px 2px -2px #DEDEDE;
       -moz-box-shadow: inset 0px 2px 2px -2px #DEDEDE;
			box-shadow: inset 0px 2px 2px -2px #DEDEDE;
}
input[type='text']:hover, input[type='password']:hover, textarea:hover, input[type='text']:focus, input[type='password']:focus, textarea:focus {
	border-top: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	border-bottom: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
}
select {
	background: #FFF;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
.h1-bb {
	margin-bottom: 10px;
	border-bottom: 1px solid #EDEDED;
}

/* Layout
------------------------------------------------------------*/

#tlc {
	height: 27px;
	background: #556469;
	background: -moz-linear-gradient(top, #556469 50%, #4C5D62 100%);
	background:	-webkit-gradient(linear, center top, center bottom, color-stop(50%, #556469), color-stop(100%, #4C5D62));
	background: url('../image/tl-bg.gif');
	-webkit-box-shadow: 0 2px 4px -2px #B2B2B2,
						inset 0 -2px 0 -1px #F0F8F9;
	   -moz-box-shadow: 0 2px 4px -2px #B2B2B2,
						inset 0 -2px 0 -1px #F0F8F9;
			box-shadow: 0 2px 4px -2px #B2B2B2,
						inset 0 -2px 0 -1px #F0F8F9;
}
#tlc #tlc-wrapper {
   margin: 0 auto;
   width: 980px;
}
#tlc-wrapper .lks {
	position: absolute;
	top: 7px;
	font-size: 12px;
	padding-right: 10px;
}
#tlc-wrapper .lks a {
	float: left;
	display: block;
	padding: 0 5px 0 0;
	color: #F4F9F7;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	-webkit-text-shadow: 0 1px 1px #3D5F83;
	   -moz-text-shadow: 0 1px 1px #3D5F83;
			text-shadow: 0 1px 1px #3D5F83;
}
#tlc-wrapper .lks a:hover {
	text-decoration: underline;
}
#tlc-wrapper .lks a + a {
	margin-left: 8px;
}
#tlc-wrapper .lks img {
	float: left;
	margin-right: 10px;
}
#tlc-wrapper #welcome {
	position: relative;
	top: 7px;
	float: right;
	z-index: 5;
	color: #F4F9F7;
	font-size: 12px;
	font-weight: bold;
	-webkit-text-shadow: 0 1px 1px #3D5F83;
	   -moz-text-shadow: 0 1px 1px #3D5F83;
			text-shadow: 0 1px 1px #3D5F83;
}
#tlc-wrapper #welcome a {
	font-size: 12px;
	font-weight: bold;
	color: #C3DB34;
	text-decoration: none;
}
#tlc-wrapper #welcome a:hover {
	text-decoration: underline;
}
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
	width: 180px;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 195px;
}
#column-right + #content {
	margin-right: 195px;
}

/* Header
------------------------------------------------------------*/

#header {
	height: 90px;
	margin-bottom: 7px;
	padding-bottom: 4px;
	position: relative;
	z-index: 99;
}
#header #logo {
	position: absolute;
	top: 10px;
	left: 10px;
}

/* Currency and Language Switcher
------------------------------------------------------------*/

.switcher {
    background: #FFF url("../image/dropdown.png") no-repeat scroll 100% 6px;
	border: 1px dotted #E2E2E2;
    padding-right: 10px;
    position: absolute;
    width: 91px;
    z-index: 8;
    cursor: pointer;
}
.switcher .option {
    cursor: pointer;
    display: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
}

.switcher span.s_selected, .switcher li, .switcher li a {
    color: #525252;
    font-size: 12px;
    display: block;
    height: 21px;
    line-height: 22px;
    text-indent: 7px;
}
.switcher li a{
	text-decoration: none;
}
.switcher li a:hover{
	color: #69A0DD;
	text-decoration: none;
}
#currency_switcher {
    right: 250px;
	top: 23px;
}
#language_switcher {
	top: 57px;
    right: 250px;
}

.switcher img {
    display: inline;
    margin: -2px 3px 0 0;
    vertical-align: middle;
}

/* Header Search
------------------------------------------------------------*/

#header #search {
	position: absolute;
	top: 23px;
	right: 370px;
	width: 298px;
	z-index: 15;
	background: url('../image/sf-bg.gif');
	border: 1px solid #E2E2E2;
	padding: 10px 14px 10px 10px;
}
#header .button-search {
	position: absolute;
	right: 3px;
	width: 69px;
	height: 27px;
	margin-top: 3px;
	margin-bottom: 4px;
	margin-right: 10px;
	cursor: pointer;
	background: #E2E2E2 url('../image/button-search.png') 90% center no-repeat;
	border: 1px solid #D2D2D2;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
	 -khtml-border-radius: 3px 3px 3px 3px;
			border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	   -moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
			box-shadow: inset 0 2px 0 -1px #EDEDED;
}
#header .bst {
	color: #626262;
	font-size: 11px;
	font-weight: bold;
	line-height: 27px;
	padding-left: 6px;
	-webkit-text-shadow: 0px -1px 0 #E6E6E6;
	-moz-text-shadow: 0px -1px 0 #E6E6E6;
	text-shadow: 0px -1px 0 #E6E6E6;
}
#header #search input {
	background: #FFF;
	padding: 1px 33px 1px 5px;
	width: 262px;
	height: 31px;
	font-size: 14px;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
	 -khtml-border-radius: 3px 3px 3px 3px;
			border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: inset 0px 2px 2px -2px #DEDEDE;
       -moz-box-shadow: inset 0px 2px 2px -2px #DEDEDE;
			box-shadow: inset 0px 4px 4px -4px #DEDEDE;
}
#header #search input:hover, #header #search input:focus {
	border-top: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

/* Header Cart
------------------------------------------------------------*/

#header #cart {
	position: absolute;
	top: 28px;
	right: 0px;
	z-index: 9;
}
#header #cart .heading {
	float: right;
	margin-right: 0px;
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	background: #FCFCFC url('../image/shopping-cart.png') 5% 20% no-repeat;
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
	font-size: 12px;
	font-weight: bold;
	color: #525252;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header #cart .heading a {
	font-family: "Times New Roman", Times, serif;
	color: #626262;
	font-size: 12px;
	text-decoration: none;
}
#header #cart .heading a span {
	padding-right: 0px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: 20px;
	padding: 8px;
	min-width: 285px;
	min-height: 150px;
	background: #fdfdfd;
	color: #626262;
	-webkit-box-shadow: 
		0 0 0 1px #d4d4d4,
		0 0 1px 2px #e2e2e2,
		0 0 0 8px #ededed;
	-moz-box-shadow: 
		0 0 0 1px #d4d4d4,
		0 0 1px 2px #e2e2e2,
		0 0 0 8px #ededed;
	box-shadow: 
		0 0 0 1px #d4d4d4,
		0 0 1px 2px #e2e2e2,
		0 0 0 8px #ededed;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #444;
	font-size: 12px;
	vertical-align: middle;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info a {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
.mini-cart-info a:hover {
	text-decoration: underline;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	text-align: left;
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #444444;
	padding: 4px;
	font-size: 12px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
	margin-bottom: 5px;
}
#header #cart .checkout a {
	text-decoration:none;
	padding: 5px;
	color: #595959;
	font-size: 12px;
	font-weight: bold;
	background: #E2E2E2;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
	 -khtml-border-radius: 3px 3px 3px 3px;
			border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: inset 0 2px 0 -1px #EDEDED;
	   -moz-box-shadow: inset 0 2px 0 -1px #EDEDED;
			box-shadow: inset 0 2px 0 -1px #EDEDED;
}
#header #cart .checkout a:hover {
	color: #444;
	background: #E2E2E2;
	background: -moz-linear-gradient(top, #DEDEDE 0%, #E9E9E9 100%);
	background:	-webkit-gradient(linear, center top, center bottom, color-stop(0%, #DEDEDE), color-stop(100%, #E9E9E9));
	-webkit-text-shadow: 0px -1px 0 #E6E6E6;
	   -moz-text-shadow: 0px -1px 0 #E6E6E6;
			text-shadow: 0px -1px 0 #E6E6E6;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}

/* Ribbon
------------------------------------------------------------*/

.ribbon {
	position: relative;
}
.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -10px;
	border: 18px solid #26297b;
	z-index: -1;
}
.ribbon:before {
	left: -23px;
	border-right-width: 15px;
	border-left-color: transparent;
}
.ribbon:after {
	right: -23px;
	border-left-width: 15px;
	border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #26297b transparent transparent transparent;
	bottom: -10px;
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 10px 0 0 10px;
}
.ribbon .ribbon-content:after {
	right: 0;
	border-width: 10px 10px 0 0;
}

/* Menu
------------------------------------------------------------*/

#menu {
	height: 37px;
	margin-bottom: 10px;
	border-top: 1px solid #26297b;
	border-bottom: 1px solid #26297b;
	background: #26297b;
	background: -moz-linear-gradient(top, #26297b 50%, #26297b 100%);
	background:	-webkit-gradient(linear, center top, center bottom, color-stop(50%, #26297b), color-stop(100%, #26297b));
	-webkit-box-shadow: 0 8px 10px -8px #33506F,
						inset 0 2px 0 -1px #78ADE8;
	   -moz-box-shadow: 0 8px 10px -8px #33506F,
						inset 0 2px 0 -1px #78ADE8;
			box-shadow: 0 8px 10px -8px #33506F,
						inset 0 2px 0 -1px #78ADE8;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	padding: 6px 5px 0 0;
	border-right: 1px solid #26297b;
	-webkit-box-shadow: 2px 0 0 -1px #26297b;
	   -moz-box-shadow: 2px 0 0 -1px #26297b;
			box-shadow: 2px 0 0 -1px #26297b;
	-webkit-transition: background .2s;
	   -moz-transition: background .2s;
			transition: background .2s;
}
#menu > ul > li:hover {
	background: #3b7ec1;
	-webkit-box-shadow: 0 0 0 0 #26297b;
	   -moz-box-shadow: 0 0 0 0 #26297b;
			box-shadow: 0 0 0 0 #26297b;
}
#menu > ul > li > a {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	line-height: 14px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 6px 10px 6px 10px;
	margin-bottom: 5px;
	z-index: 6;
	position: relative;
	-webkit-text-shadow: 0 1px 1px #26297b;
	   -moz-text-shadow: 0 1px 1px #26297b;
			text-shadow: 0 1px 1px #26297b;
}
#menu > ul > li:hover > a {
}
#menu > ul > li > div {
	display: none;
	background: #26297b;
	position: absolute;
	z-index: 5;
	border-left: 1px solid #26297b;
	border-right: 1px solid #26297b;
	border-bottom: 1px solid #26297b;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	display: block;
	white-space: nowrap;
	min-width: 120px;
	-webkit-text-shadow: 0 1px 1px #26297b;
	   -moz-text-shadow: 0 1px 1px #26297b;
			text-shadow: 0 1px 0 #26297b;
	-webkit-transition: background .1s;
	   -moz-transition: background .1s;
			transition: background .1s;
}
#menu > ul > li ul > li > a:hover {
	background: #3b7ec1;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}

/* Breadcrumb
------------------------------------------------------------*/

.breadcrumb {
	color: #636363;
	background: #DEEBF7;
	padding: 5px 0 5px 0;
	margin-top: -10px;
	margin-bottom: 12px;
	margin-left: 10px;
	margin-right: 10px;
}
.breadcrumb a {
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	color: #636363;
	padding: 5px 20px 5px 10px;
	margin-right: -3px;
	white-space: nowrap;
	background: url(../image/breadcrumb.png) no-repeat center right;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.breadcrumb a:hover {
	text-decoration: underline;
}
.success, .warning, .attention, .information {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 2px 10px 3px 33px;
	font-size: 12px;
	line-height: 18px;
	color: #525252;
	-webkit-text-shadow: 1px 1px 0 #F8F8F8;
	   -moz-text-shadow: 1px 1px 0 #F8F8F8;
			text-shadow: 1px 1px 0 #F8F8F8;
}
.success a, .warning a, .attention a, .information a {
	text-decoration: underline;
	font-size: 12px;
}
.success a:hover, .warning a:hover, .attention a:hover, .information a:hover {
	text-decoration: underline;
}
.success {
	background: #FFF url('../image/success.png') 10px center no-repeat;
	border: 1px dashed #EEE;
	-webkit-border-radius: 7px 7px 7px 7px;
	   -moz-border-radius: 7px 7px 7px 7px;
	 -khtml-border-radius: 7px 7px 7px 7px;
			border-radius: 7px 7px 7px 7px;
}
.warning {
	background: #FFF url('../image/warning.png') 10px center no-repeat;
	border: 1px dashed #EEE;
	-webkit-border-radius: 7px 7px 7px 7px;
	   -moz-border-radius: 7px 7px 7px 7px;
	 -khtml-border-radius: 7px 7px 7px 7px;
			border-radius: 7px 7px 7px 7px;
}
.attention {
	background: #FFF url('../image/attention.png') 10px center no-repeat;
	border: 1px dashed #EEE;
	-webkit-border-radius: 7px 7px 7px 7px;
	   -moz-border-radius: 7px 7px 7px 7px;
	 -khtml-border-radius: 7px 7px 7px 7px;
			border-radius: 7px 7px 7px 7px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF5AB0;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF5AB0;
}
.help {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #525252;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}
table.list thead td {
	background-color: #F5F5F5;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #525252;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: top;
}
table.radio td label {
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}

/* Pagination
------------------------------------------------------------*/

.pagination {
	border-top: 1px solid #EDEDED;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	padding: 6px 11px;
	text-decoration: none;
	color: #555;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E2E2E2;
}
.pagination .links a:hover {
	border-top: 1px solid #C4C4C4;
	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	border-bottom: 1px solid #C1C1C1;
	background: #FFF;
}
.pagination .links b {
	display: inline-block;
	padding: 6px 11px;
	font-weight: normal;
	text-decoration: none;
	color: #525252;
	border-top: 1px solid #C4C4C4;
	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	border-bottom: 1px solid #C1C1C1;
	background: #FFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}

/* Buttons
------------------------------------------------------------*/

a.button, input.button {
	cursor: pointer;
	color: #FFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	background: #a1cb58;
	background: -moz-linear-gradient(top, #CAE285 0%, #A1CB58 100%);
	background:	-webkit-gradient(linear, center top, center bottom, color-stop(0%, #CAE285), color-stop(100%, #A1CB58));
	border: 1px solid #adc671;
	-webkit-border-radius: 7px 7px 7px 7px;
	   -moz-border-radius: 7px 7px 7px 7px;
	 -khtml-border-radius: 7px 7px 7px 7px;
			border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: inset 0 2px 0 -1px #D2E697;
	   -moz-box-shadow: inset 0 2px 0 -1px #D2E697;
			box-shadow: inset 0 2px 0 -1px #D2E697;
	-webkit-text-shadow: 0px -1px 0 #9CB561;
	   -moz-text-shadow: 0px -1px 0 #9CB561;
			text-shadow: 0px -1px 0 #9CB561;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 9px 11px 9px 11px;
}
input.button {
	margin: 0;
	border: 0;
	height: 32px;
	padding: 0px 11px 2px 11px;
	border: 1px solid #adc671;
}
a.button:hover, input.button:hover {
	border: 1px solid #98BD5C;
	background: #b8d872;
	background: -moz-linear-gradient(top, #b8d872 0%, #b9d972 100%);
	background:	-webkit-gradient(linear, center top, center bottom, color-stop(0%, #b8d872), color-stop(100%, #b9d972));
}
.buttons {
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 32px;
	line-height: 18px;
	background: url('../image/main-bg.jpg');
}
.htabs a {
	display: none;
	padding: 7px 10px 7px 10px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #828282;
	margin-right: 4px;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.htabs a.selected {
	color: #525252;
	-webkit-text-shadow: 1px 1px 0 #FBFBFB;
	   -moz-text-shadow: 1px 1px 0 #FBFBFB;
			text-shadow: 1px 1px 0 #FBFBFB;
}
.htabs a:hover, .htabs a.selected:hover {
	color: #69A0DD;
}
.tab-content {
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
	border-top: 1px solid #EDEDED;
}
.relatedproduct {
	color: #525252;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
}

/* Box
------------------------------------------------------------*/

.box {
	margin-bottom: 20px;
}
.box .box-heading {
	padding: 10px 10px 0 10px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 14px;
	color: #525252;
}
.box .box-content {
	padding: 10px;
}
.box .box-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box .box-content > ul > li {
	padding: 7px 8px 7px 0px;
}
.box .box-content > ul > li + li {
	border-top: 1px solid #E7E7E7;
	-webkit-box-shadow: inset 0 2px 0 -1px #FCFCFC;
	   -moz-box-shadow: inset 0 2px 0 -1px #FCFCFC;
			box-shadow: inset 0 2px 0 -1px #F9F9F9;
}
.box .box-content > ul > li > a {
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
	font-size: 12px;
	color: #575859;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.box .box-content > ul > li > a:hover {
	color: #69A0DD;
}

/* Featured Module
------------------------------------------------------------*/

.featured {
	margin-bottom: 10px;
}
.featured .featured-heading {
	color: #525252;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 10px 0px 10px;
	margin-bottom: 2px;
}
.featured .featured-content {
	padding: 0px;
}
.featured .featured-content a {
	text-decoration: none;
	color: #525252;
}
.featured-box {
	width: 100%;
	overflow: hidden;
}
.featured-box > div {
	width: 160px;
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 10px;
	border-bottom: 1px solid #E2E2E2;
}
.featured-box .image {
	display: block;
	margin-bottom: 8px;
}
.featured-box .image img {
	padding: 3px;
	margin: 4px;
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
	-webkit-transition: box-shadow .4s;
	   -moz-transition: box-shadow .4s;
			transition: box-shadow .4s;
}
.featured-box .image img:hover {
}
.featured-box .name a {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #555;
	display: block;
	margin-bottom: 6px;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.featured-box .name a:hover {
	color: #69A0DD;
}
.featured-box .price {
	display: block;
	font-weight: bold;
	font-size: 12px;
	color: #525252;
	margin-bottom: 8px;
}
.featured-box .price-old {
	color: #FF5AB0;
	font-weight: normal;
	text-decoration: line-through;
}
.featured-box .price-new {
	font-weight: bold;
}

/* Box Products
------------------------------------------------------------*/

.box-product {
	width: 100%;
	overflow: auto;
}
.box-product > div {
	width: 193px;
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-bottom: 1px solid #EDEDED;
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	margin: 4px;
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
	-webkit-transition: box-shadow .4s;
	   -moz-transition: box-shadow .4s;
			transition: box-shadow .4s;
}
.box-product .name a {
	font-family: Georgia, sans-serif;
	color: #525252;
	font-size: 12px;
	text-decoration: none;
	display: block;
	margin-top: 3%;
	margin-bottom: 4px;
	-webkit-text-shadow: 1px 1px 0 #F7F7F7;
	   -moz-text-shadow: 1px 1px 0 #F7F7F7;
			text-shadow: 1px 1px 0 #F7F7F7;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.box-product .name a:hover {
	color: #69A0DD;
}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #525252;
	margin-bottom: 6px;
}
.box-product .price-old {
	color: #FF5AB0;
	font-weight: normal;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}

/* Box Category
------------------------------------------------------------*/

.box-category {
	margin-bottom: 3px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	padding: 7px 8px 7px 0px;
}
.box-category > ul > li + li {
	border-top: 1px solid #E7E7E7;
}
.box-category > ul > li > a {
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
	font-size: 15px;
	color: #555;
	-webkit-text-shadow: 1px 1px 0 #F7F7F7;
	   -moz-text-shadow: 1px 1px 0 #F7F7F7;
			text-shadow: 1px 1px 0 #F7F7F7;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.box-category > ul > li > a:hover {
	color: #69A0DD;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 10px 5px 0px 5px;
}
.box-category > ul > li ul > li > a {
	display: block;
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
	color: #555;
	font-size: 12px;
	-webkit-text-shadow: 1px 1px 0 #F7F7F7;
	   -moz-text-shadow: 1px 1px 0 #F7F7F7;
			text-shadow: 1px 1px 0 #F7F7F7;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.box-category > ul > li ul > li > a:hover {
	color: #69A0DD;
}
.box-category > ul > li ul > li > a.active {
}

/* Latest, Special and Bestsellers Module
------------------------------------------------------------*/

.box-cl {
	width: 100%;
	overflow: hidden;
}
.box-cl > div {
	width: 129px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
.box-cl .image {
	display: block;
	margin-top: 10px;
	margin-bottom: 0px;
}
.box-cl .image img {
	padding: 3px;
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
.box-cl .name a {
	font-family: Georgia, sans-serif;
	color: #555;
	font-size: 12px;
	text-decoration: none;
	display: block;
	margin-top: 3%;
	margin-bottom: 4px;
	-webkit-text-shadow: 1px 1px 0 #F7F7F7;
	   -moz-text-shadow: 1px 1px 0 #F7F7F7;
			text-shadow: 1px 1px 0 #F7F7F7;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.box-cl .name a:hover {
	color: #69A0DD;
}
.box-cl .price {
	display: block;
	font-weight: bold;
	font-size: 12px;
	color: #525252;
	margin-bottom: 2px;
}
.box-cl .price-old {
	color: #FF5AB0;
	font-weight: normal;
	text-decoration: line-through;
}
.box-cl .price-new {
	font-weight: bold;
}

/* Content
------------------------------------------------------------*/

#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EDEDED;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}

/* Category Info
------------------------------------------------------------*/

.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 4px;
	margin: 5px 20px 5px 5px;
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
	background: #EDF1E7;
}
.category-list ul {
	float: left;
	width: 10%;
}
.category-list ul > li {
}
.category-list ul > li a {
	text-decoration: none;
	font-size: 12px;
	color: #636363;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.category-list ul > li a:hover {
	text-decoration: underline;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}

/* Manufacturer
------------------------------------------------------------*/

.brand-index {
	margin-left: 10px;
}
.manufacturer-list {
	border-bottom: 1px solid #EDEDED;
	padding: 5px;
	overflow: auto;
	margin-bottom: 10px;
}
.manufacturer-heading {
	font-size: 18px;
	font-weight: bold;
	padding: 5px 6px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 6px;
}
.manufacturer-list ul {
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}

/* Product Filter
------------------------------------------------------------*/

.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
	margin-bottom: 10px;
	overflow: auto;
}
.product-filter .display {
	float: left;
	padding-top: 5px;
	color: #444444;
	font-weight: normal;
}
.product-filter .display a {
	font-weight: normal;
	text-decoration: none;
}
.product-filter .displaytext{
	display: none;
}
.product-filter .listtext {
	margin-left: 15px;
}
.product-filter .gridtext {
	margin-left: 15px;
}
.product-filter .listview {
	display: inline;
	height: 13px;
	width: 13px;
	margin-right: 7px;
	margin-left: 0px;
	padding-bottom: 1px;
	color: #525252;
	background: url('../image/list_view.png') no-repeat center left;
}
.product-filter .listviewactive {
	display: inline;
	height: 13px;
	width: 13px;
	margin-right: 7px;
	margin-left: 0px;
	padding-bottom: 1px;
	color: #FFC571;
	background: url('../image/list_view_active.png') no-repeat center left;
}
.product-filter .gridview {
	display: inline;
	height: 13px;
	width: 13px;
	margin-right: 0px;
	margin-left: 7px;
	padding-bottom: 1px;
	color: #525252;
	background: url('../image/grid_view.png') no-repeat center left;
}
.product-filter .gridviewactive {
	display: inline;
	height: 13px;
	width: 13px;
	margin-right: 0px;
	margin-left: 7px;
	padding-bottom: 1px;
	color: #FFC571;
	background: url('../image/grid_view_active.png') no-repeat center left;
}
.product-filter .sort {
	float: right;
	color: #525252;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #525252;
}
.product-compare {
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
	font-weight: normal;
	margin-left: 40px;
	border-left: 1px solid #e6e6e6;
}
.product-compare a {
	text-decoration: none;
	font-weight: normal;
	color: #525252;
}
.product-compare a:hover {
	text-decoration: underline;
}

/* Product List
------------------------------------------------------------*/

.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	margin: 4px;
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #525252;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.product-list .name a:hover {
	color: #69A0DD;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #555;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	font-size: 14px;
	font-weight: bold;
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #525252;
}
.product-list .price-old {
	color: #FF5AB0;
	font-weight: normal;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBB;
}
.product-list .cart {
	margin-bottom: 60px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a, .product-list .compare a {
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.product-list .wishlist a {
	color: #555;
	text-decoration: none;
	padding-left: 16px;
	margin-left: -3px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #555;
	text-decoration: none;
	padding-left: 16px;
	margin-left: -3px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
.product-list .wishlist a:hover, .product-list .compare a:hover {
	color: #69A0DD;
}

/* Product Grid
------------------------------------------------------------*/

.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 127px;
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	text-align: center;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 4px;
}
.product-grid .image img {
	padding: 3px;
	margin: 4px;
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
.product-grid .name a {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #626262;
	display: block;
	margin-bottom: 4px;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.product-grid .name a:hover {
	color: #69A0DD;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #525252;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #FF5AB0;
	font-weight: normal;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 6px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #525252;
	text-decoration: none;
	padding-left: 10px;
	display: block;
	background: url('../image/add.png') 11% center no-repeat;
}
.product-grid .compare a {
	color: #525252;
	text-decoration: none;
	padding-left: 9px;
	display: block;
	background: url('../image/add.png') 11% center no-repeat;
}
.product-grid .wishlist a, .product-grid .compare a {
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.product-grid .wishlist a:hover, .product-grid .compare a:hover {
	color: #69A0DD;
}

/* Product Info
------------------------------------------------------------*/

.product-info {
	overflow: auto;
	margin-bottom: 14px;
}
.product-info > .left {
	float: left;
	margin-left: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.product-info > .left + .right {
	margin-left: 353px;
}
.product-info .image {
	float: left;
	margin-bottom: 10px;
	text-align: center;
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
	-webkit-transition: box-shadow .2s;
	   -moz-transition: box-shadow .2s;
			transition: box-shadow .2s;
}
.product-info .image-additional {
	width: 330px;
	clear: both;
}
.product-info .image-additional img {
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-right: 10.5px;
	margin-bottom: 7px;
}
.product-info .description {
	border-bottom: 1px solid #EDEDED;
	padding: 3px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #525252;
	font-size: 12px;
}
.product-info .description span {
	display: inline-block;
	width: 90px;
	color: #ADADAD;
}
.product-info .description a {
	color: #525252;
	font-size: 12px;
	text-decoration: none;
}
.product-info .description a:hover {
	color: #69A0DD;
}
.product-info .description mark {
	padding: 4px;
	color: #525252;
	background: #F3EECB;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
			border-radius: 3px 3px 3px 3px;
	-webkit-text-shadow: 1px 1px 0 #FDF9DF;
	   -moz-text-shadow: 1px 1px 0 #FDF9DF;
			text-shadow: 1px 1px 0 #FDF9DF;
}
.product-info .price {
	overflow: auto;
	border-bottom: 1px solid #EDEDED;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #626262;
}
.product-info .price-old {
	font-weight: normal;
	color: #FF5AB0;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #ADADAD;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #ADADAD;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #525252;
	line-height: 15px;
}
.product-info .options {
	border-bottom: 1px solid #EDEDED;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #525252;
	font-size: 12px;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #EDEDED;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #525252;
	overflow: auto;
}
.product-info .wishlist, .product-info .compare {
	margin-bottom: 3px;
}
.product-info .wishlist a {
	color: #525252;
	font-size: 12px;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 10px;
	margin-top: 10px;
	margin-left: 20px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-info .compare a {
	color: #525252;
	font-size: 12px;
	text-decoration: none;
	padding-left: 15px;
	margin-top: 10px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
.product-info .wishlist a:hover, .product-info .compare a:hover {
	color: #69A0DD;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #ADADAD;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 12px;
	color: #ADADAD;
	clear: both;
}
.product-info .review {
	color: #525252;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	line-height: 20px;
}
.product-info .review > div a {
	text-decoration: none;
	font-size: 12px;
}
.product-info .review > div > span {
	color: #525252;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
	font-size: 12px;
}
.product-info .tags {
	padding: 8px 0 8px 0;
	font-size: 12px;
	color: #525252;
}
.product-info .tags a {
	text-decoration: none;
	font-size: 12px;
	color: #525252;
	padding: 4px 5px 4px 13px;
	line-height: 15px;
	white-space: nowrap;
	background: url(../image/tag_bg.png) no-repeat center left;
	-webkit-text-shadow: 1px 1px 0 #F2F2F2;
	   -moz-text-shadow: 1px 1px 0 #F2F2F2;
			text-shadow: 1px 1px 0 #F2F2F2;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.product-info .review > div a:hover, .product-info .review .share a:hover, .product-info .tags a:hover {
	color: #69A0DD;
}

/* Review List
------------------------------------------------------------*/

.review-list {
	padding: 10px 0 10px 0;
	overflow: auto;
	margin-bottom: 20px;
	font-size: 12px;
	border-bottom: 1px solid #EDEDED;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #525252;
	font-size: 12px;
	font-weight: bold;
	background: #F5F5F5;
	text-align: left;
}
.attribute tr td:first-child {
	color: #525252;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #555;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

/* Compare
------------------------------------------------------------*/

.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #525252;
	font-size: 12px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #525252;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #555;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}
.compare-info .name a {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #525252;
}
.compare-info .name a:hover {
	text-decoration: underline;
}
.compare-info .price-old {
	font-weight: bold;
	color: #FF5AB0;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}

/* Wishlist
------------------------------------------------------------*/

.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info td a {
	text-decoration: none;
}
.wishlist-info td a:hover {
	text-decoration: underline;
}
.wishlist-info thead td {
	color: #525252;
	font-weight: bold;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E7E7E7;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #E7E7E7;
}
.wishlist-info tbody .image img {
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
	vertical-align: middle;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
	vertical-align: middle;
}
.wishlist-info tbody .price s {
	color: #FF5AB0;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}

/* Orders
------------------------------------------------------------*/

.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}

/* Returns
------------------------------------------------------------*/

.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}

/* Download
------------------------------------------------------------*/

.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}

/* Cart
------------------------------------------------------------*/

.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
}
.cart-info td {
	padding: 7px;
}
.cart-info td a {
	text-decoration: none;
}
.cart-info td a:hover {
	text-decoration: underline;
}
.cart-info thead td {
	color: #525252;
	font-weight: bold;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E7E7E7;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #EDEDED;
}
.cart-info tbody .image img {
	-webkit-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-moz-box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	box-shadow: 
		0 0 0 1px #D4D4D4,
		0 0 0 4px #EDEDED;
	-webkit-border-radius: 2px 2px 2px 2px;
	   -moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
	vertical-align: middle;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
	vertical-align: middle;
}
.cart-info tbody span.stock {
	color: #FF5AB0;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}

/* Checkout
------------------------------------------------------------*/

.checkout-heading {
	background: #F5F5F5;
	border-bottom: 1px solid #E7E7E7;
	padding: 8px;
	font-weight: bold;
	font-size: 12px;
	color: #555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
			transition: color .2s;
}
.checkout-heading a:hover {
	color: #69A0DD;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product td a {
	text-decoration: none;
}
.checkout-product td a:hover {
	text-decoration: underline;
}
.checkout-product thead td {
	color: #525252;
	font-weight: bold;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E7E7E7;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #E7E7E7;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #E7E7E7;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info ul > li {
	list-style-type: disc;
	color: #555;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}

/* Footer
------------------------------------------------------------*/
 
#footer #info{
   margin: 0 auto;
   width: 980px;
}
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 40px 40px 20px 40px;
	border-top: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
	background: #f2f2f2;
	background: url('../image/sf-bg.gif'), -moz-linear-gradient(top, #F6F6F6 0%, #FFF 100%);
	background: url('../image/sf-bg.gif'), -webkit-gradient(linear, center top, center bottom, color-stop(0%, #F6F6F6), color-stop(100%, #FFF));
	-webkit-box-shadow: inset 0px 25px 25px -25px #c4c4c4;
       -moz-box-shadow: inset 0px 25px 25px -25px #c4c4c4;
			box-shadow: inset 0px 25px 25px -25px #c4c4c4;
}
#footer h3 {
	font-size: 12px;
	text-transform: uppercase;
	color: #525252;
	margin-top: 0px;
	margin-bottom: 8px;
	-webkit-text-shadow: 1px 1px 0 #FBFBFB;
	   -moz-text-shadow: 1px 1px 0 #FBFBFB;
			text-shadow: 1px 1px 0 #FBFBFB;
}
#footer .column {
	float: left;
	width: 20%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 2px;
	padding-left: 12px;
	color: #525252;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	text-decoration: none;
	color: #555;
	-webkit-text-shadow: 1px 1px 0 #FCFCFC;
	   -moz-text-shadow: 1px 1px 0 #FCFCFC;
			text-shadow: 1px 1px 0 #FCFCFC;
}
#footer .column a:hover {
	text-decoration: underline;
}
#footer .h3i {
	margin-left: 14px;
}
#footer .nbul {
	list-style: none;
}

/* Social Media Buttons
------------------------------------------------------------*/

#social .facebookbutton {
	width: 24px;
	height: 24px;
	float: left;
	background: url('../image/facebook.png') bottom;
	text-indent: -99999px;
	outline: none;
}
#social .facebookbutton:hover {
	background-position: 0 0;
}
#social .twitterbutton {
	width: 24px;
	height: 24px;
	float: left;
	background: url('../image/twitter.png') bottom;
	text-indent: -99999px;
	outline: none;
}
#social .twitterbutton:hover {
	background-position: 0 0;
}
#social .googlebutton {
	width: 24px;
	height: 24px;
	float: left;
	background: url('../image/google.png') bottom;
	text-indent: -99999px;
	outline: none;
}
#social .googlebutton:hover {
	background-position: 0 0;
}
#social .rssbutton {
	width: 24px;
	height: 24px;
	float: left;
	background: url('../image/rss.png') bottom;
	text-indent: -99999px;
	outline: none;
}
#social .rssbutton:hover {
	background-position: 0 0;
}
#social .vimeobutton {
	width: 24px;
	height: 24px;
	float: left;
	background: url('../image/vimeo.png') bottom;
	text-indent: -99999px;
	outline: none;
}
#social .vimeobutton:hover {
	background-position: 0 0;
}

/* Powered
------------------------------------------------------------*/

#powered {
	margin-top: 5px;
	padding-top: 25px;
	text-align: center;
	font-size: 12px;
	color: #525252;
	clear: both;
	-webkit-text-shadow: 1px 1px 0 #FFF;
	   -moz-text-shadow: 1px 1px 0 #FFF;
			text-shadow: 1px 1px 0 #FFF;
}
#powered a {
	font-size: 12px;
}

/* Banner
------------------------------------------------------------*/

.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
